In [1]:
import numpy as np
import random
def objective(x, d):
    ans=0
    multi=1
    for j in range(d):
        multi *= np.cos(x[j] / np.sqrt(j + 1))
        
    for i in range(d):
        ans += ((x[i] * x[i]) / 4000)
        #print(i, ans)
    return ans - multi + 1

x=[0 for i in range(70)]


print(objective(x, 7))
print(objective(x, 70))

0.0
0.0

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('./data/Covid.csv')

In [1]:
iso = ['THA', 'JPN', 'SGP', 'IND', 'EGY', 'USA', 'GBR']
df = df[df['iso_code'].isin(iso)]
df = df[df['date']>='2021-01-01']
df = df[df['date']<='2022-06-30']

for i in range(len(df['date'])):
    print(df['iso_code'][i], df['date'][i], df['new_deaths_smoothed'][i], df['new_cases_smoothed'][i])

NameError: name 'df' is not defined

In [16]:
color = ['red', 'blue', 'green', 'black']

In [1]:
#3

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/US-accidents.csv')

In [9]:
df

,ID,Severity,Start_Time,City,State,Zipcode,Temperature(F),Weather_Condition,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Stop
0,A-1381851,2,2021-09-15 18:07:32.000000000,Blue Bell,PA,19422-1717,87.0,Mostly Cloudy,False,False,False,False,False,False,False
1,A-2687499,2,2018-02-07 11:52:27,Cleveland,OH,44130,21.9,Light Snow,False,False,False,False,False,False,False
2,A-1922192,2,2020-12-01 21:08:30,Fairfield,CA,94534,42.0,Fair,False,False,False,False,False,False,False
3,A-911390,2,2021-06-13 12:13:00.000000000,Tehachapi,CA,93561-8089,81.0,Fair,False,False,False,False,False,False,False
4,A-103256,4,2016-05-20 23:38:45,Columbus,OH,43215,55.9,Light Rain,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,A-1619695,2,2021-01-15 02:37:30.000000000,Glastonbury,CT,06033,34.0,Fog,False,False,False,False,False,False,False
499996,A-466164,2,2021-07-09 10:39:19,Columbia,SC,29210-5424,86.0,Partly Cloudy,False,False,False,False,False,False,False
499997,A-220691,2,2017-07-25 15:09:02,Miami,FL,33156-2630,86.0,Thunderstorm,True,True,False,False,False,False,False
499998,A-1329176,2,2021-06-11 05:40:00.000000000,Dos Palos,CA,93620-9715,51.0,Fair,False,False,False,False,False,False,False
499999,A-131887,2,2016-06-29 14:07:48,Pleasanton,CA,94588,82.0,Clear,False,False,False,False,False,False,False