# <center> Assignment #1
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. **

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

**0. Load adult.csv dataset into this notebook.**

In [6]:
# You code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
tb = pd.read_csv("adult.data.csv")
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
tb['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
women = tb[tb['sex'] == 'Female']
print('Average age of women :', women['age'].mean())

Average age of women : 36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
# You code here
citizens_german = tb['native-country'][tb['native-country'] == 'Germany'].count()
all_of_citizens = tb['native-country'].count()

percentage_of_german = citizens_german / all_of_citizens * 100

print('percentage =', percentage_of_german, '%')

percentage = 0.42074874850281013 %

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
# You code here
salary1 = tb[tb['salary'] == '>50K']
salary2 = tb[tb['salary'] == '<=50K']
print("Average age of peoples got salary > 50K =", salary1['age'].mean())
print("Average age of peoples got salary <= 50K =", salary2['age'].mean())
print("Standard deviation of age who than 50K :",salary1['age'].std())
print("Standard deviation of age who less 50K :",salary2['age'].std())

Average age of peoples got salary > 50K = 44.24984058155847
Average age of peoples got salary <= 50K = 36.78373786407767
Standard deviation of age who than 50K : 10.519027719851826
Standard deviation of age who less 50K : 14.02008849082488

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
# You code here
x = tb[tb['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]['salary'] == '>50K'
print(x.value_counts())
print(x.count())
#tb[tb['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]
#tb[tb['salary'] == '>50K'][tb['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]
tb['education'][tb['salary'] == '>50K'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).value_counts()
#print('Not true, Some peoples not in Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate but earn more than 50K')

False    5981
True     4535
Name: salary, dtype: int64
10516

True     4535
False    3306
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [59]:
# You code here
#tb.groupby('race')
#tb.describe()
#df = pd.DataFrame(tb)
#race_count = df.groupby('race')['sex'].value_counts()
#print(race_count)
#race = df.groupby('race')['sex'].unique()
display(tb.groupby(['race','sex'])['age'].describe())
race = tb.groupby(['race','sex'])['age'].max()
print('Maximum age of men of Amer-Indian-Eskimo :', race['Amer-Indian-Eskimo']['Male'])
#race.agg(['Amer-Indian-Eskimo']).agg(['Male'])


#race_type
#plt.xlabel("race and sex")
#plt.ylabel("count")

#plt.bar(race[1],race_count[1],color = 'red')
#race.describe()
#plt.scatter(race, sex)
#plt.show()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Maximum age of men of Amer-Indian-Eskimo : 82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [43]:
# You code here
married = ['Married-civ-spouse','Married-AF-spouse','Married-spouse-absent']
marital = tb['marital-status'].unique()
men_than_50 = pd.merge(tb[tb['salary'] == '>50K'], tb[tb['sex'] == 'Male'])
m_m_50 = men_than_50['marital-status'].isin(married).value_counts()

print("Men married greater Men single")
print("Men have salary > 50K married",m_m_50[1],"peoples\nMen have salary <= 50 K married",m_m_50[0],"peoples")
Married = m_m_50[1] / men_than_50['marital-status'].count() * 100
print("Proportion (Married : Single) =", Married , ':', 100 - Married)

Men married greater Men single
Men have salary > 50K married 5969 peoples
Men have salary <= 50 K married 697 peoples
Proportion (Married : Single) = 89.54395439543954 : 10.456045604560458

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [50]:
# You code here
hoursmax = tb[tb['hours-per-week'] == tb['hours-per-week'].max()]
print(hoursmax['hours-per-week'].count(),' peoples work such a maximum number of hours(', tb['hours-per-week'].max(), ' Hours per week)',sep ='')

85 peoples work such a maximum number of hours(99 Hours per week)

In [51]:
# You code here
hoursmax_than50K = hoursmax[hoursmax['salary'] == '>50K']['hours-per-week'].count()
print(hoursmax_than50K,'peoples work such a maximum number of hours and earn a lot salary than 50K')
print('Percentage =',hoursmax_than50K / hoursmax['hours-per-week'].count() * 100, '%')

25 peoples work such a maximum number of hours and earn a lot salary than 50K
Percentage = 29.411764705882355 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [111]:
# You code here
country = tb['native-country'].unique()
print('Salary <=50K :')
for i in range(len(country)):
    print(country[i], '=', tb['hours-per-week'][tb['salary'] == '<=50K'][tb['native-country'] == country[i]].mean())

print('\n\nSalary >50K :')
for i in range(len(country)):
    print(country[i], '=', tb['hours-per-week'][tb['salary'] == '>50K'][tb['native-country'] == country[i]].mean())
    
print('\n\nIn Japan  Average time of work =',tb['hours-per-week'][tb['native-country'] == 'Japan'][tb['salary'] == '<=50K'].mean(),',salary <= 50K')
print('\t  Average time of work =',tb['hours-per-week'][tb['native-country'] == 'Japan'][tb['salary'] == '>50K'].mean(),',salary > 50K')

Salary <=50K :
United-States = 38.79912723305605
Cuba = 37.98571428571429
Jamaica = 38.23943661971831
India = 38.233333333333334
? = 40.16475972540046
Mexico = 40.00327868852459
South = 40.15625
Puerto-Rico = 38.470588235294116
Honduras = 34.333333333333336
England = 40.483333333333334
Canada = 37.91463414634146
Germany = 39.13978494623656
Iran = 41.44
Philippines = 38.065693430656935
Italy = 39.625
Poland = 38.166666666666664
Columbia = 38.68421052631579
Cambodia = 41.416666666666664
Thailand = 42.86666666666667
Ecuador = 38.041666666666664
Laos = 40.375
Taiwan = 33.774193548387096
Haiti = 36.325
Portugal = 41.93939393939394
Dominican-Republic = 42.338235294117645
El-Salvador = 36.03092783505155
France = 41.05882352941177
Guatemala = 39.36065573770492
China = 37.38181818181818
Japan = 41.0
Yugoslavia = 41.6
Peru = 35.06896551724138
Outlying-US(Guam-USVI-etc) = 41.857142857142854
Scotland = 39.44444444444444
Trinadad&Tobago = 37.05882352941177
Greece = 41.80952380952381
Nicaragua = 36.09375
Vietnam = 37.193548387096776
Hong = 39.142857142857146
Ireland = 40.94736842105263
Hungary = 31.3
Holand-Netherlands = 40.0


Salary >50K :
United-States = 45.50536884674383
Cuba = 42.44
Jamaica = 41.1
India = 46.475
? = 45.54794520547945
Mexico = 46.57575757575758
South = 51.4375
Puerto-Rico = 39.416666666666664
Honduras = 60.0
England = 44.53333333333333
Canada = 45.64102564102564
Germany = 44.97727272727273
Iran = 47.5
Philippines = 43.032786885245905
Italy = 45.4
Poland = 39.0
Columbia = 50.0
Cambodia = 40.0
Thailand = 58.333333333333336
Ecuador = 48.75
Laos = 40.0
Taiwan = 46.8
Haiti = 42.75
Portugal = 41.5
Dominican-Republic = 47.0
El-Salvador = 45.0
France = 50.75
Guatemala = 36.666666666666664
China = 38.9
Japan = 47.958333333333336
Yugoslavia = 49.5
Peru = 40.0
Outlying-US(Guam-USVI-etc) = nan
Scotland = 46.666666666666664
Trinadad&Tobago = 40.0
Greece = 50.625
Nicaragua = 37.5
Vietnam = 39.2
Hong = 45.0
Ireland = 48.0
Hungary = 50.0
Holand-Netherlands = nan


In Japan  Average time of work = 41.0 ,salary <= 50K
	  Average time of work = 47.958333333333336 ,salary > 50K